h6{
    color: cornsilk;
    font-size: medium;
    font-style: italic;
    font-weight: 700;
    image-rendering: var(pics.png);
}
#ImgBG {
    background-color: black;
    display: flex;
   /* display: flex;*/
    flex-direction: column;
}