h1{font-style: italic;}
a{color: black;}
.Mon{color: yellow;}
.Tues{color:rgb(250, 0, 196);}
.Wed{color: green;}
.Thurs{color: orange;}
.Fri{color: blue;}
.Sat{color: rgb(182, 25, 182);}
.Sun{color: red;}
table{background-color: rgb(220, 235, 255);}