body{background-color: palevioletred;}
h1{text-align: center; color: red; text-decoration: underline;}
h2{text-align: center; color: blue;}
p{font-style: italic;}
#l1{color: darkgreen; font-weight: bold;}
.l2{color: darkslategray;text-decoration: underline;
font-weight: bold;}