body{background-color: black;}
h1{text-align: center; color: blanchedalmond;}
h2{text-align: center; color: rgb(49, 94, 243); font-style: italic;}
h3{text-align: center; color: rgb(219, 73, 73); font-size: medium;}
p{color: rgb(157, 187, 212); text-align: center;}