body{background-color: black;}
table{border: blanchedalmond; background-color:black;}
h1{text-align: center ;color: rgb(0, 238, 255);}
tr{color: blanchedalmond;}
.Mon{color: yellow;}
.Tues{color:rgb(250, 0, 196);}
.Wed{color: green;}
.Thurs{color: orange;}
.Fri{color: blue;}
.Sat{color: rgb(182, 25, 182);}
.Sun{color: red;}